<h1>Companies report from basic details</h1>
<form method="POST" name="carbon_emmision">
    {% csrf_token %}
    <label> company name</label>
    <input type="text" name="company_name" id="company_name">
    <br>
    <label>Paper use </label>
    <input type="number" name="paper_use" id="paper_use">
    <br>
    <label>traditional hydro electricity use (scope 1)</label> <br> <br>
    <label>hydroelectricity used</label>
    <input type="number" name="traditional_hydro_use" id="traditional_hydro_use">
    <br>
    <label>Hydro power plant location</label>
    <select name="traditional_hydro_location" id="">
        <option name="USA">USA</option>
        <option name="Canada">Canada</option>
        <option name="UK">UK</option>
        <option name="Europe">Europe</option>
        <option name="Africa">Africa</option>
        <option name="LatinAmerica">LatinAmerica</option>
        <option name="MiddleEast">MiddleEast</option>
        <option name="OtherCountry">OtherCountry</option>
    </select>
    <br>
    <br><br><br>

    <label>New energy source usage(Scope 2)</label>
    <br>

    Solar energy
    <input type="number" name="solar_energy">

    <br>

    hydroelectric energy
    <input type="number" name="hydroelectric_energy">

    <br>


    Wind energy
    <input type="number" name="wind_energy">

    <br>

    biomass energy
    <input type="number" name="biomass_energy">

    <br>

    geothermal energy
    <input type="number" name="geothermal_energy">

    <br>

    other clean energy
    <input type="number" name="other_clean_energy">

    <br>

<br><br><br>
<label>Fuel usage(scope 1)</label>
<br>

    Fuel_petrol
    <input type="number" name="Fuel_petrol">

    <br>

    Fuel_Diesel
    <input type="number" name="Fuel_Diesel">

    <br>

    Fuel_LPG
    <input type="number" name="Fuel_LPG">

    <br><br><br>

    <label>travel car usage(Scope 3)</label>
    <br>
    

    SmallDieselCar
    <input type="number" name="SmallDieselCar">
    <br>

    MediumDieselCar
    <input type="number" name="MediumDieselCar">
    <br>

    LargeDieselCar
    <input type="number" name="LargeDieselCar">
    <br>

    MediumHybridCar
    <input type="number" name="MediumHybridCar">
    <br>

    LargeHybridCar
    <input type="number" name="LargeHybridCar">
    <br>

    MediumLPGCar
    <input type="number" name="MediumLPGCar">
    <br>


    LargeLPGCar
    <input type="number" name="LargeLPGCar">
    <br>

    MediumCNGCar
    <input type="number" name="MediumCNGCar">
    <br>

    LargeCNGCar
    <input type="number" name="LargeCNGCar">
    <br>

    SmallPetrolVan
    <input type="number" name="SmallPetrolVan">
    <br>

    LargePetrolVan
    <input type="number" name="LargePetrolVan">
    <br>


    SmallDielselVan
    <input type="number" name="SmallDielselVan">
    <br>

    MediumPetrolCar
    <input type="number" name="MediumPetrolCar">
    <br>

    LargePetrolCar
    <input type="number" name="LargePetrolCar">
    <br>

    SmallMotorBike
    <input type="number" name="SmallMotorBike">
    <br>

    MediumMotorBike
    <input type="number" name="MediumMotorBike">
    <br>

    LargeMotorBike
    <input type="number" name="LargeMotorBike">
    <br>
    <br><br><br>

    <label>Flights(Scope 3)</label>
    <br>

    DomesticFlight
    <input type="number" name="DomesticFlight">
    <br>

    ShortEconomyClassFlight
    <input type="number" name="ShortEconomyClassFlight">
    <br>

    ShortBusinessClassFlight
    <input type="number" name="ShortBusinessClassFlight">
    <br>

    LongEconomyClassFlight
    <input type="number" name="LongEconomyClassFlight">
    <br>

    LongPremiumClassFlight
    <input type="number" name="LongPremiumClassFlight">
    <br>

    LongBusinessClassFlight
    <input type="number" name="LongBusinessClassFlight">
    <br>

    LongFirstClassFlight
    <input type="number" name="LongFirstClassFlight">
    <br>

    <br><br><br>

    <label>Distance travelled by other modes of transport(Scope 3)</label>
    <br>

    SmallMotorBike
    <input type="number" name="SmallMotorBike">
    <br>

    MediumMotorBike
    <input type="number" name="MediumMotorBike">
    <br>

    LargeMotorBike
    <input type="number" name="LargeMotorBike">
    <br>

    Taxi
    <input type="number" name="Taxi">
    <br>

    ClassicBus
    <input type="number" name="ClassicBus">
    <br>

    EcoBus
    <input type="number" name="EcoBus">
    <br>
    

    Coach
    <input type="number" name="Coach">
    <br>

    NationalTrain
    <input type="number" name="NationalTrain">
    <br>

    LightRail
    <input type="number" name="LightRail">
    <br>

    Subway
    <input type="number" name="Subway">
    <br>
    <br>
    <br>
    <label>Purchased heat</label>
    <input type="number" name="purchased_heat">
    <br>
    <label>Purchased cooling</label>
    <input type="number" name="purchased_cooling">
    
    <button type="submit">Send</button>
</form>
